
.inter-text{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.header{
    background-image: url(../Assets/Hero-bg.png);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
.nav-title{
    font-size: 45px;
    font-weight: 600;
    color: #4E47FF;

}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
}
/* shared style */
.text-primary{
    color: #252432;
}
.color{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    color: white;
    font-size: 20px;
    width: 132px;
    height: 48px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
}
/* banner style */
.banner{
     display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Full viewport height */
    text-align: center;
}
.banner-title{
    color: #252432;
    font-size: 65px;
    font-weight: bold;
}
.banner-button{
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    width: 175px;
    height: 48px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
}
/* action styles */
.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 116px 130px 0 150px;
}
.action-sub-title{
    color: #252432;
    font-size: 24px;
    height: 30px;
    /* padding: 0 0 30px 0; */
    margin-bottom: 35px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    height: auto;
    margin-bottom: 8px;
}
.action-button{
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    width: 230px;
    height: 48px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}
.action-pic{
    width: 400px;
    height: 330px;
    border-radius: 48px;
}
.action-content{
    width: 520px;
    height: 200px;
}
/* user-section */
.user-title{
        font-size: 38px;
    font-weight: bold;
    color: #252432;
    height: auto;
    margin-bottom: 2px;
    margin-top: 10px;
    padding-top: 20px;
}
.secondary-background{
    background-color: #EAE9FF;

}
.user-section{
    border-radius: 10px;
    padding: 0px 150px;
    text-align: center;
    margin-top: 5px;

}
.item-description{
    font-size: 20px;
    color: #000000;
    padding: 0 0;
    margin: 0;
}
.item-title{
    color: #4E47FF;
    font-size: 80px;
    margin-bottom: 5px;
}
.user-items{
    display: flex;
    gap: 167px;
    border-radius: 10px;
    padding: 0px 150px;
    text-align: center;
}
.user{
    margin-top: 100px;
    width: 1140px;
    height: 360px;
    align-items: center;
    justify-content: center;    
}
/* footer styles */
footer{
    padding: 92px 150px;
    display: flex;
    gap: 115px;
    align-items: center;
    background-color: #F6F8FF;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    color: #000000;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 19px;
    border: none;
}
.footer textarea{
    height: auto;
    min-height: 160px;
    resize: vertical;
}
.button-form{
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    width: 60%;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 0;
    border: none;
    text-align: center;
    display: block;
    align-items: center;
}
.section-title{
    width: 528px;
    height: 232px;
    font-size: 97px;
}